@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/desafios/d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #073042;
    --cor1: #4fbe9f5e;
    --cor2: #3DDB85;
    --cor3: #78C259;
    --cor4: #95DC46;
    --cor5: #063d1e;
    --cor6: #30B56C;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\0020\1F517'
}

header{
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor2));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.284);
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding: 0px 10px 0px 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.284);
}

nav{
    background-color: var(--cor2);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.31);
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.355);
    transition-duration: .2s;
}

nav > a:hover{
    background-color: var(--cor6);
    color: var(--cor5);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.419);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: normal;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-size: 1.4em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.258);
    text-indent: 8px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    color: var(--cor5);
    font-weight: bold;

}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor2);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor0);
}

main img{
    width: 100%;
}

main img.pequena {
    display: block;
    margin: auto;
    max-width: 350px;
}

div.video {
    background-color: var(--cor0);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.322);
}

aside > h3 {
    background-color: var(--cor0);
    color: white;
    padding: 7px;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.5em;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > h3::before{
    content: '\27A1\00A0';
    color: var(--cor2);
}

aside > ul{
    list-style-type: '\2714\00A0\00A0'; /*ou \0020*/ /*Não é compativel com qualquer navegador*/
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor0);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}